*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-accent: teal;
  --headings-color: black;
  --font-color: rgba(32, 31, 31, 0.8);
  --font-size: clamp(1.6rem, 1.4vw, 2rem);
  --padding: 2rem;
  --font-family-1: "Unica One", cursive;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Crimson Pro", serif;
  font-size: var(--font-size);
  color: var(--font-color);
  line-height: 1.2;
  letter-spacing: 1.5px;
  word-spacing: 2px;
}

/* TYPOGRAPHY */

h1,
h2,
h3 {
  font-family: "Unica One", cursive;
  color: var(--headings-color);
}

h1 {
  margin: 0;
  font-size: clamp(5.653rem, 5vw, 7.594rem);
}

h2 {
  font-size: clamp(3.157rem, 2.8vw, 3.998rem);
}

h3 {
  font-size: clamp(2.369rem, 2.1vw, 2.827rem);
}

/* ############################# NAV-BAR ################################### */

header {
  min-width: 400px;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  position: relative;
  overflow: hidden;
}

.nav-bar {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  transition: transform 0.2s;
  transform-origin: top;
}

.nav-bar[data-uncovered="true"] {
  transform: scaleY(1);
}

.nav-bar[data-uncovered="false"] {
  transform: scaleY(0);
}

.nav__menu-toggle {
  width: fit-content;
  border: 0;
  background: transparent;

  position: absolute;
  top: 3.6rem;
  right: 3.2rem;
  z-index: 9999;
}

.nav__menu-toggle > * {
  font-size: 35px;
  cursor: pointer;
  display: block;
}

.nav__link {
  width: max(15rem, 15vh);
  height: 4rem;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link--style,
.link--style:visited {
  text-decoration: none;
  color: var(--headings-color);
  font-size: clamp(2.5rem, 2.1vw, 3rem);
  font-family: var(--font-family-1);
  font-weight: bold;
  transition: all 0.3s;
}

.link--style::before {
  content: "";
  display: block;
  height: 2px;
  width: 80%;
  background-color: var(--headings-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  right: 0;
}

.link--style::after {
  content: "";
  display: block;
  height: 2px;
  width: 80%;
  background-color: var(--headings-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.link--style:hover {
  font-size: 170%;
  color: var(--color-accent);
}

.link--style:hover::before {
  transform: scale(1);
}

.link--style:hover::after {
  transform: scale(1);
}

@media (min-width: 768px) {
  header {
    height: fit-content;
    padding-right: 4rem;
  }

  .nav-bar {
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-end;
  }

  .nav__menu-toggle > * {
    display: none;
  }

  .nav__link {
    /* width: min(10vw, 20rem); */
    justify-content: center;
  }
}

/* ###################         UWAGI !!!            ############## */

/* 1. link__style::before && ::after - height ??!! */
