<figure class="gallery">
  <section class="card">
    <section class="gallery__tab tab--style-position-left">
      <h2 class="tab__title title-left">Chatka Skorupa</h2>
      <img class="tab__image" src="images/1.jpg" alt="" />
      <article class="tab__cover">
        <h2>chatka skorupa</h2>
        <p class="tab__description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla,
          totam?
        </p>
        <a class="gallery__link" href="#"
          >Przejdz dalej <span class="fas fa-angle-double-right"></span
        ></a>
      </article>
    </section>
    <section class="gallery__tab tab--style-position-right">
      <h2 class="tab__title title-right">Kamienica Skorupa</h2>
      <img class="tab__image" src="images/2.jpg" alt="" />
      <article class="tab__cover">
        <h2>chatka skorupa</h2>
        <p class="tab__description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla,
          totam?
        </p>
        <a class="gallery__link" href="#"
          >Przejdz dalej <span class="fas fa-angle-double-right"></span
        ></a>
      </article>
    </section>
  </section>
  <section class="card">
    <section class="gallery__tab tab--style-position-left">
      <h2 class="tab__title title-left">Nasza grupa wsparcia</h2>
      <img class="tab__image" src="images/3.jpg" alt="" />
      <article class="tab__cover">
        <h2>chatka skorupa</h2>
        <p class="tab__description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla,
          totam?
        </p>
        <a class="gallery__link" href="#"
          >Przejdz dalej <span class="fas fa-angle-double-right"></span
        ></a>
      </article>
    </section>
    <section class="gallery__tab tab--style-position-right">
      <h2 class="tab__title title-right">Szefowa</h2>
      <img class="tab__image" src="images/4.jpg" alt="" />
      <article class="tab__cover">
        <h2>chatka skorupa</h2>
        <p class="tab__description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla,
          totam?
        </p>
        <a class="gallery__link" href="#"
          >Przejdz dalej <span class="fas fa-angle-double-right"></span
        ></a>
      </article>
    </section>
  </section>
  <section class="card">
    <section class="gallery__tab tab--style-position-left">
      <h2 class="tab__title title-left">Nasza grupa wsparcia</h2>
      <img class="tab__image" src="images/5.jpg" alt="" />
      <article class="tab__cover">
        <h2>chatka skorupa</h2>
        <p class="tab__description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla,
          totam?
        </p>
        <a class="gallery__link" href="#"
          >Przejdz dalej <span class="fas fa-angle-double-right"></span
        ></a>
      </article>
    </section>
    <section class="gallery__tab tab--style-position-right">
      <h2 class="tab__title title-right">Szefowa</h2>
      <img class="tab__image" src="images/6.jpg" alt="" />
      <article class="tab__cover">
        <h2>chatka skorupa</h2>
        <p class="tab__description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla,
          totam?
        </p>
        <a class="gallery__link" href="#"
          >Przejdz dalej <span class="fas fa-angle-double-right"></span
        ></a>
      </article>
    </section>
  </section>
  <section class="card">
    <section class="gallery__tab tab--style-position-left">
      <h2 class="tab__title title-left">Nasza grupa wsparcia</h2>
      <img class="tab__image" src="images/7.jpg" alt="" />
      <article class="tab__cover">
        <h2>chatka skorupa</h2>
        <p class="tab__description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla,
          totam?
        </p>
        <a class="gallery__link" href="#"
          >Przejdz dalej <span class="fas fa-angle-double-right"></span
        ></a>
      </article>
    </section>
    <section class="gallery__tab tab--style-position-right">
      <h2 class="tab__title title-right">Szefowa</h2>
      <img class="tab__image" src="images/8.jpg" alt="" />
      <article class="tab__cover">
        <h2>chatka skorupa</h2>
        <p class="tab__description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla,
          totam?
        </p>
        <a class="gallery__link" href="#"
          >Przejdz dalej <span class="fas fa-angle-double-right"></span
        ></a>
      </article>
    </section>
  </section>
  <section class="card">
    <section class="gallery__tab tab--style-position-left">
      <h2 class="tab__title title-left">Nasza grupa wsparcia</h2>
      <img class="tab__image" src="images/9.jpg" alt="" />
      <article class="tab__cover">
        <h2>chatka skorupa</h2>
        <p class="tab__description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla,
          totam?
        </p>
        <a class="gallery__link" href="#"
          >Przejdz dalej <span class="fas fa-angle-double-right"></span
        ></a>
      </article>
    </section>
    <section class="gallery__tab tab--style-position-right">
      <h2 class="tab__title title-right">Szefowa</h2>
      <img class="tab__image" src="images/10.jpg" alt="" />
      <article class="tab__cover">
        <h2>chatka skorupa</h2>
        <p class="tab__description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla,
          totam?
        </p>
        <a class="gallery__link" href="#"
          >Przejdz dalej <span class="fas fa-angle-double-right"></span
        ></a>
      </article>
    </section>
  </section>
  <section class="card">
    <section class="gallery__tab tab--style-position-left">
      <h2 class="tab__title title-left">Nasza grupa wsparcia</h2>
      <img class="tab__image" src="images/11.jpg" alt="" />
      <article class="tab__cover">
        <h2>chatka skorupa</h2>
        <p class="tab__description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla,
          totam?
        </p>
        <a class="gallery__link" href="#"
          >Przejdz dalej <span class="fas fa-angle-double-right"></span
        ></a>
      </article>
    </section>
    <section class="gallery__tab tab--style-position-right">
      <h2 class="tab__title title-right">Szefowa</h2>
      <img class="tab__image" src="images/12.jpg" alt="" />
      <article class="tab__cover">
        <h2>chatka skorupa</h2>
        <p class="tab__description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla,
          totam?
        </p>
        <a class="gallery__link" href="#"
          >Przejdz dalej <span class="fas fa-angle-double-right"></span
        ></a>
      </article>
    </section>
  </section>
</figure>
