<section class="introduction">
  <img
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.fotocommunity.com%2Fold-man-a3ba96f5-0681-4c63-9bb9-67baea61a7bd.jpg%3Fheight%3D1080&f=1&nofb=1"
    alt="Photography of Marcin Skorupski"
  />
  <article class="testimonial">
    <h2>Heima.Photo</h2>
    <h3>And our point of view...</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore
      blanditiis maiores magni odio beatae aliquam reiciendis cupiditate nulla
      molestias reprehenderit.
    </p>
  </article>
  <a href="#">About</a>
  <span class="fas fa-angle-double-right"></span>
</section>
