<main>
  <figure class="gallery">
    <section class="gallery__tab">
      <!-- <h2 class="tab__title">Chatka Skorupa</h2> -->
      <img class="tab__image" src="images/1.jpg" alt="" />
      <article class="tab__cover">
        <h2>chatka skorupa</h2>
        <p class="tab__description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla,
          totam?
        </p>
        <a class="gallery__link" href="#">Przejdz dalej...</a>
      </article>
    </section>
    <section class="gallery__tab">
      <h2 class="tab__title">Kamienica Skorupa</h2>
      <img class="tab__image" src="images/2.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias provident
        cumque quis voluptas quasi maxime odit aperiam aliquam quam id.
      </p>
    </section>
    <section class="gallery__tab">
      <h2 class="tab__title">Nasza grupa wsparcia</h2>
      <img class="tab__image" src="images/3.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias provident
        cumque quis voluptas quasi maxime odit aperiam aliquam quam id.
      </p>
    </section>
    <section class="gallery__tab">
      <h2 class="tab__title">Ona cos na pewno knuje</h2>
      <img class="tab__image" src="images/4.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias provident
        cumque quis voluptas quasi maxime odit aperiam aliquam quam id.
      </p>
    </section>
    <section class="gallery__tab">
      <h2 class="tab__title">Na pohybel skurwysynom</h2>
      <img class="tab__image" src="images/5.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias provident
        cumque quis voluptas quasi maxime odit aperiam aliquam quam id.
      </p>
    </section>
    <section class="gallery__tab">
      <h2 class="tab__title">Tym Skorup nie jezdzi :)</h2>
      <img class="tab__image" src="images/6.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias provident
        cumque quis voluptas quasi maxime odit aperiam aliquam quam id.
      </p>
    </section>
    <section class="gallery__tab">
      <h2 class="tab__title">Nie znam miejscowy</h2>
      <img class="tab__image" src="images/7.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias provident
        cumque quis voluptas quasi maxime odit aperiam aliquam quam id.
      </p>
    </section>
    <section class="gallery__tab">
      <h2 class="tab__title">Najlepsze zdjecie tej galerii</h2>
      <img class="tab__image" src="images/8.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias provident
        cumque quis voluptas quasi maxime odit aperiam aliquam quam id.
      </p>
    </section>
    <section class="gallery__tab">
      <h2 class="tab__title">Kolejny samochod nie Skorupa</h2>
      <img class="tab__image" src="images/9.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias provident
        cumque quis voluptas quasi maxime odit aperiam aliquam quam id.
      </p>
    </section>
    <section class="gallery__tab">
      <h2 class="tab__title">:)</h2>
      <img class="tab__image" src="images/10.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias provident
        cumque quis voluptas quasi maxime odit aperiam aliquam quam id.
      </p>
    </section>
    <section class="gallery__tab">
      <h2 class="tab__title">Dobry zjazd</h2>
      <img class="tab__image" src="images/11.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias provident
        cumque quis voluptas quasi maxime odit aperiam aliquam quam id.
      </p>
    </section>
    <section class="gallery__tab">
      <h2 class="tab__title">Kreatywna mamucha</h2>
      <img class="tab__image" src="images/12.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias provident
        cumque quis voluptas quasi maxime odit aperiam aliquam quam id.
      </p>
    </section>
  </figure>
</main>
